APP_ENV=development

JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=


DB_HOST=localhost
DB_PORT=3306
DB_ROOT_PASSWORD=<password>
DB_NAME=d_db
DB_USER=db_user
DB_PASSWORD=<password>
TZ=Asia/Ulaanbaatar

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<password>